@import "formStyle.css";
@import "listStyle.css";

html,
body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

button.link{
    background: none;
    border: none;
}


/*div for the blur effect of the background-image*/

.blur::before {
	content: "";
	background: url('https://raw.githubusercontent.com/Anastat/ApplicationDevelopmentProject/master/html/img/calendar.jpg') fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: blur(5px);
}

.content {
	position: fixed;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "nav nav nav nav" "content content content aside" "content content content aside" "content content content aside" "content content content aside" "content content content aside";
	z-index: -1;
}

nav {
	text-align: center;
	position: relative;
	grid-area: nav;
}
/*style for logo image in top nav*/
.picStyle {
	width: 200px;
	float: left;
        padding-left: 10px;
}

.topnav {
	overflow: hidden;
	background-color: #f5f0e8;
	-webkit-box-shadow: 0px 1px 1px black;
	-moz-box-shadow: 0px 1px 1px black;
	box-shadow: 0px 1px 1px black;
}

.topnav a {
	text-align: center;
	padding: 10px 15px;
	font-size: 17px;
}

.topNavRight {
	display: flex;
	position: relative;
	float: right;
	padding-top: 20px;
}

#addUserBtn,
#logout {
	background-color: Transparent;
	margin-right: 10px;
	padding: 0;
	cursor: pointer;
	border: none;
}

.align-center {
	position: absolute;
	padding-top: 5%;
	width: 100%;
	height: 100%;
	margin: auto;
	grid-area: content;
}

aside .button,
.align-center .button {
	width: 200px;
	height: 40px;
	background-color: #f5f0e8;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: bold;
	border: 1px solid #a1a1a1;
	box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	border-radius: 7px;
}

/*styles for disable aside buttons*/

aside button.disabledDep {
	box-shadow: inset -1px -1px 30px 0px #ccc;
}

/*radio buttons all, new, done etc.*/

.float-right {
	padding: 10px;
	position: relative;
	text-align: center;
}

/*content from database, displays tasks*/

.boxed {
	position: relative;
	border: none;
	width: 80%;
	height: 70%;
	overflow: auto;
	margin: auto;
	cursor: pointer;
	-moz-height: 75%;
}

/*button Add new task*/

.wrapper {
	position: relative;
	padding-top: 10px;
	text-align: center;
}

aside {

	grid-area: aside;
	align-content: center;
	margin: auto;
	-moz-align-content: center;
}

aside ul {

	list-style: none;
}

aside ul li {
	margin: 0 0 10% 0;
}

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 4%;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */

.modal-content {
	background-color: #f5f0e8;
	padding: 20px;
	margin-left: 35%;
	border: 1px solid #888;
	width: 420px;
	height: 600px;
	overflow: auto;
	/* Enable scroll if needed */
	box-shadow: 0 0 5px 5px #424a4c;
}

.modal-content2 {
	background-color: #f5f0e8;
	padding: 20px;
	margin-left: 35%;
	border: 1px solid #888;
	width: 200px;
	height: 430px;
	overflow: auto;
	/* Enable scroll if needed */
	box-shadow: 0 0 5px 5px #424a4c;
}

.modal-content2 input:not(#saveButtonAdduser):not(#cancelButtonAdduser),
select {
	height: 25px;
}

/*add user form save and cancel buttons*/

#saveButtonAdduser,
#cancelButtonAdduser {
	width: 45%;
}

/*position of model content depends of screen*/

@media (min-width: 700px) and (max-width: 850px) {
	.modal-content {
		margin-left: 15%;
	}
}

@media (min-width: 480px) and (max-width: 700px) {
	.modal-content {
		margin-left: 5%;
	}
	nav {
		height: 10%;
	}
	.content {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 6fr;
		grid-template-areas: "nav nav nav" "content content content";
	}
	.boxed {

		width: 90%;

	}
	aside {
		display: none;

	}
}

@media (min-width: 0) and (max-width: 480px) {
	.modal-content {
		width: 100%;
		margin: 0;
	}
	aside {
		display: none;

	}
	.boxed {

		width: 100%;

	}
}
